body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #333;
    overflow: hidden; /* Убираем прокрутку всего тела страницы */
}
main{
    width: 90%;
}

header {
    background-color: #333;
    color: white;
    padding: 0.2rem 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

h1 {
    text-align: center;
    color: #333;
    font-size: 2em;
    margin-bottom: 20px;
}

#task-list {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 90%;
    max-width: 600px;
    list-style-type: none;
    margin: 0;
    overflow-y: auto; /* Добавляем вертикальную прокрутку */
    max-height: 70vh; /* Ограничиваем высоту контейнера */
}

li {
    margin: 20px 0;
    padding: 20px;
    border-bottom: 1px solid #eee;
}

li:last-child {
    border-bottom: none;
}

strong {
    display: block;
    font-size: 1.2em;
    margin-bottom: 5px;
    color: #333;
}

p {
    margin: 0;
    font-size: 1em;
    color: #666;
}

.time {
    color: red;
    font-style: italic;
}

.task-button {
    display: inline-block;
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.task-button:hover {
    background-color: #0056b3;
}

.task-button:active {
    transform: scale(0.95);
}

.task-button.done {
    background-color: #28a745;
}

.container{
    display: flex;
    gap: 20px;
    justify-content: center;
    width: 100%;
    max-height: 70vh;
    overflow-y: auto;
}


/* Стили для кнопок и модального окна */
.screenshot-button {
    display: inline-block;
    padding: 5px 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: #6c757d;
    color: white;
    font-size: 0.9em;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.screenshot-button:hover {
    background-color: #5a6268;
}

.screenshot-button:active {
    transform: scale(0.95);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    text-align: center;
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#modal-image {
    width: 100%;
    max-height: 400px;
    object-fit: contain;
}

.navigation-buttons {
    margin-top: 10px;
}

.navigation-buttons button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.navigation-buttons button:hover {
    background-color: #0056b3;
}

.navigation-buttons button:active {
    transform: scale(0.95);
}

/* Оптимизация стилей под мобильные устройства */
@media (max-width: 768px) {
    body {
        display: block;
        overflow: auto;
    }

    #task-list {
        width: 90%;
        max-width: 100%;
        margin-bottom: 70px;
        padding-left: 1%;
    }

    li {
        padding: 10px;
    }

    .container {
        display: block;
        width: 100%;
        max-width: 100%;
        padding: 0 10px;
    }

    .modal-content {
        width: 90%;
        margin: 10% auto;
    }
    .close-button {
        margin-right: 50%;
    }
    /* Стили для всей полосы прокрутки */
    ::-webkit-scrollbar {
        width: 20px;
    }

    /* Стили для трека (задний фон полосы прокрутки) */
    ::-webkit-scrollbar-track {
        background: #f1f1f1; /* Цвет фона полосы прокрутки */
    }

    /* Стили для ползунка полосы прокрутки */
    ::-webkit-scrollbar-thumb {
        background: linear-gradient(45deg, green, blue); /* Градиент ползунка */
        border-radius: 25px; /* Закругленные края ползунка */
    }

    /* Стили для ползунка при наведении */
    ::-webkit-scrollbar-thumb:hover {
        background: linear-gradient(90deg, darkgreen, darkblue); /* Градиент при наведении */
    }

    /* Показывать полосу прокрутки всегда */
    body {
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch; /* Обеспечивает плавность скроллинга на iOS */
    }
}

@media (max-width: 500px) {
    h1 {
        font-size: 1.5em;
        margin-bottom: 10px;
    }

    .task-button, .screenshot-button {
        padding: 5px 10px;
        font-size: 0.8em;
        margin-right: 5px;
    }

    .navigation-buttons button {
        padding: 5px 10px;
        font-size: 0.8em;
    }

    .modal-content {
        width: 95%;
        margin: 10% auto;
        padding: 15px;
    }
}
