body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: #121212;
    color: #e0e0e0;
}

main {
    background-color: #121212;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #4caf50;
}

.container {
    display: flex;
    justify-content: space-around;
}

.list-container {
    width: 45%;
    margin: 10px 0;
}

h2 {
    text-align: center;
    color: #4caf50;
}

.page-button {
    display: inline-block;
    padding: 5px 10px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background-color: #2196f3;
    color: white;
    font-size: 0.9em;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.page-button:hover {
    background-color: #1976d2;
}

.page-button:active {
    transform: scale(0.95);
}

.task-list {
    list-style-type: none;
    padding: 0;
    display: none;
}

.task-list.active {
    display: block;
}

li {
    margin: 10px 0;
    list-style-type: none;
}

.list-container {
    background-color: #1e1e1e;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    padding: 20px;
    width: 90%;
    max-width: 600px;
    list-style-type: none;
    margin: 0;
    overflow-y: auto;
    max-height: 70vh;
}

.task-button {
    display: inline-block;
    padding: 5px 10px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    background-color: #2196f3;
    color: white;
    font-size: 0.9em;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.task-button.completed {
    background-color: #4caf50;
}

.counter {
    font-weight: bold;
    margin-right: 10px;
}

.counter-button {
    padding: 5px 10px;
    margin: 0 5px;
    border: none;
    border-radius: 5px;
    background-color: #ff9800;
    color: white;
    font-size: 0.9em;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.counter-button:hover {
    background-color: #e68900;
}

.counter-button:active {
    transform: scale(0.95);
}

.screenshot-button {
    display: inline-block;
    padding: 5px 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: #ff9800;
    color: white;
    font-size: 0.9em;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.screenshot-button:hover {
    background-color: #e68900;
}

.screenshot-button:active {
    transform: scale(0.95);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
    background-color: #1e1e1e;
    color: #e0e0e0;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    text-align: center;
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

#modal-image {
    width: 100%;
    max-height: 400px;
    object-fit: contain;
}

.navigation-buttons {
    margin-top: 10px;
}

.navigation-buttons button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4caf50;
    color: white;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.navigation-buttons button:hover {
    background-color: #388e3c;
}

.navigation-buttons button:active {
    transform: scale(0.95);
}

header {
    background-color: #1a1a1a;
    color: #4caf50;
    padding: 1rem 0;
    border-radius: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: #4caf50;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Стили для всей полосы прокрутки */
::-webkit-scrollbar {
    width: 12px; /* Ширина полосы прокрутки */
}

/* Стили для трека (задний фон полосы прокрутки) */
::-webkit-scrollbar-track {
    background: #1a1a1a; /* Цвет фона полосы прокрутки */
}

/* Стили для ползунка полосы прокрутки */
::-webkit-scrollbar-thumb {
    background: #4caf50; /* Цвет ползунка */
    border-radius: 10px; /* Закругленные края ползунка */
}

/* Стили для ползунка при наведении */
::-webkit-scrollbar-thumb:hover {
    background: #45a049; /* Цвет ползунка при наведении */
}

/* Стили для ползунка при активном состоянии */
::-webkit-scrollbar-thumb:active {
    background: #3e8e41; /* Цвет ползунка при активном состоянии */
}

/* Для Firefox */
* {
    scrollbar-width: thin; /* Ширина полосы прокрутки */
    scrollbar-color: #4caf50 #1a1a1a; /* Цвет ползунка и трека */
}
@media (max-width: 768px) {
    .modal-content {
        width: 90%;
        margin: 10% auto;
    }

    .close-button {
        margin-right: 50%;
    }

    ::-webkit-scrollbar {
        width: 12px; /* Уменьшаем ширину полосы прокрутки */
    }

    ::-webkit-scrollbar-track {
        background: #333; /* Тёмный фон трека полосы прокрутки */
    }

    ::-webkit-scrollbar-thumb {
        background: linear-gradient(45deg, #4caf50, #2196f3); /* Градиент для ползунка */
        border-radius: 6px; /* Закруглённые края ползунка */
    }

    ::-webkit-scrollbar-thumb:hover {
        background: linear-gradient(90deg, #388e3c, #1976d2); /* Изменение градиента при наведении */
    }

    body {
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
    }

    .list-container {
        width: 100%; /* Расширение контейнера списка на всю ширину */
        margin: 10px 0;
        padding: 10px;
        margin-bottom: 70px;
        padding-left: 1%;
    }

    .container {
        display: block; /* Изменение контейнера на блочный */
    }

    .page-button, .task-button, .screenshot-button {
        width: 100%; /* Кнопки занимают всю ширину */
        margin: 5px 0;
        padding: 10px;
        font-size: 1em;
    }
}

@media (max-width: 500px) {
    h1 {
        font-size: 1.5em;
        margin-bottom: 10px;
    }

    .task-button, .screenshot-button {
        padding: 5px 10px;
        font-size: 0.8em;
        margin-right: 5px;
    }

    .navigation-buttons button {
        padding: 5px 10px;
        font-size: 0.8em;
    }

    .modal-content {
        width: 95%;
        margin: 10% auto;
        padding: 15px;
    }

    .list-container {
        padding: 10px;
    }

    li {
        padding: 5px 0; /* Уменьшение отступов элементов списка */
    }

    header {
        padding: 0.5rem 0;
        text-align: center;
    }

    nav ul {
        flex-direction: column; /* Вертикальное расположение элементов навигации */
        align-items: center;
    }

    nav ul li {
        margin: 0.5rem 0;
    }
}
